.sign-nav {
    font-weight: bold;
    font-size: 18px;
    color: lightslategray;
}

.rec-link {
    text-decoration: underline !important;
    font-weight: bold;
    color: brown!important;
    font-size: 16px;
}