.recipe-imgs {
    width: 50%;
    left: 25%;
    top: 44%;
    border-radius: 5px;
    border: rgb(235, 235, 235) 2px solid;
    position: absolute;
}

.overview {
    width: 80%;
    margin-top: 40%;
    margin-left: 10%;
    font-family: 'Source Serif Pro', serif;
    text-align: justify;
    color: rgb(48, 48, 48);
    line-height: 1.5;
    font-size: 20px;
}

.iframe {
    width: 95%;
    height: 70vh;
}

.recipe-box {
    width: 80%;
    margin-left: 10%;
    border: 2px solid rgb(216, 216, 216);
    border-radius: 5px;
    font-family: 'Source Serif Pro', serif;
    font-size: 20px;
}

.title {
    font-weight: bold;
}

.ingdts {
    line-height: 1.8;
}

.prep {
    text-align: justify;
    line-height: 1.6;
}
