.login-box {
    width: 280px;
    color: red;
    margin: 0 auto;
    margin-bottom: 15%;
    margin-top: 5%;
}

.login-box h1{
    float: left;
    font-size: 50px;
    border-bottom: 6px solid white;
    margin-bottom: 20px;
    padding: 12px 0;
    color: black;
}